:root {
    /* Base */
    --primary-dark: #121826;
    --neutral-light: #e5e7eb;
    --base-white: #ffffff;

    /* Accents */
    --accent-primary: #263fa9;
    --text-secondary: #4d5562;
    --accent-warm: #7c4f1e;

    /* Spéciaux */
    --neutral-ghost: #f8fafc;
    --text-secondary-translucent: #4d556233;
}
